@page
@model SupermarketWEB.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Index Customers";
}
<h1 class="text-center my-4">Index Customers</h1>

<p class="text-center">
    <a asp-page="Create" class="btn btn-success btn-lg mb-3">Create New Customer</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th class="text-center">@Html.DisplayNameFor(model => model.Customers[0].Document)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Customers[0].First_Name)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Customers[0].Last_Name)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Customers[0].Address)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Customers[0].Birthday)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Customers[0].Phone)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Customers[0].Email)</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Document)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.First_Name)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Last_Name)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Address)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Birthday)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="text-center align-middle">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning mx-1">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    body {
        background-color: #f0f8ff;
    }
    h1 {
        color: #333333;
    }
    .table thead th {
        color: #ffffff;
    }
    .table tbody tr:hover {
        background-color: #e0f7fa;
    }
    .btn {
        font-weight: bold;
    }
</style>





